body{
	font-family: Helvetica, sans-serif;
	background: #CCCC;
}

#container{
	margin: 100px auto;
    width: 80%;
}

.tab { 
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

h1{
	background-color: lightblue;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul{
	list-style: none;
	margin: 0;
    padding: 0;
    height: 400px;
    overflow: auto;
}

li{
    position: relative;
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	padding-left: 23px;
}

li:nth-child(2n){
	background-color: #f7f7f7;
}

input{
	background-color: inherit;
	border: 0;
    font-size: 15px;
    padding-left: 25px;
}

input#ideaInput, input#projectInput, input#commentInput{
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0, 0, 0, 0);
	text-align: start;
}

input:focus{
	background-color: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

.edit, .trash, .add{
	display: none;
}

li:hover .trash,li:hover .edit, li:hover .add{
	background-color: darkblue;
    height: auto;
    padding: 5px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: auto;
	display: inline-block;
	transition: 0.6s linear;
}

li:hover .edit{
    background-color: green;
}

@media only screen and (min-width: 480px) {

    #container {
        width: 360px;
    }
}

@media only screen and (max-device-width: 480px) {
    
    #container{
        margin: 200px auto;
        width: 80%;
    }

    h1 {
        font-size: 55px;
    }
    
    .tab button {
        font-size: 40px;
        width: 50%;
    }
    
    button {
        height: 80px;
        font-size: 35px;
        display: block;
        border-radius: 8px;
        border: 1px solid #E5DBDB;
    }

    .tab button:hover {
        background: #E5DBDB;
    }

    input#ideaInput, input#projectInput, input#commentInput{
        font-size: 40px;
    }

    li{
        height: 70px;
    }

    input {
        font-size: 35px;   
    }

    ul {
        height: 630px;
    }
}
